[Unit]
Description=Nomad Agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User={{ nomad_user }}
Group={{ nomad_group }}
ExecStart={{ nomad_home }}/bin/nomad agent \
{% if nomad_dev_mode %}
  -dev \
{% endif %}
  -config={{ nomad_config_dir }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
